body {
  box-sizing: border-box;
  margin: 0;
}

.form-container {
  width: 50%;
  margin: auto;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  align-self: flex-start;
}

.button-container a {
  text-decoration: none;
}

.nav-btn {
  margin: 0.4em;
}

.logo {
  height: 150px;
}
