body {
  box-sizing: border-box;
  margin: 0;
}

#nav {
  padding: 0;
}

.nav-item {
  display: inline-block;
}

.nav-container {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}

.card-container {
  width: 70%;
  margin: 0 auto;
}
