body {
  box-sizing: border-box;
  margin: 0;
}

#nav {
  padding: 0;
}

.nav-item {
  display: inline-block;
}

.nav-container {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}

.container {
  width: 80%;
  margin: auto;
}
.heading-container {
  text-align: center;
}

.heading-container a {
  text-decoration: none;
  color: rgba(105, 161, 210, 0.708);
  /* color: rgb(218, 165, 72); */
}

.card-container {
  width: 80%;
  margin: 1em auto;
}
