body {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  align-self: flex-start;
}

.button-container a {
  text-decoration: none;
}
.nav-btn {
  margin: 0.4em;
}

.logo {
  height: 150px;
}

.heading-container {
  text-align: center;
}

.heading-container a {
  text-decoration: none;
  color: rgba(105, 161, 210, 0.708);
  /* color: rgb(218, 165, 72); */
}
